body {
  margin: 0;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.bg-\[\#3B89D1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(59 137 209 / var(--tw-bg-opacity));
}
